
{
  debug
  auto_https off
  log {
    format console
  }
}

# http://0.0.0.0:8108/collections/psgc-regions/documents/search?x-typesense-api-key=JjZTsOnPJBDPF474n9w4IOe5z1OJLDwbH6TgRIaLm0U=&q=&query_by=name_extended

# note: exclude trailing slash
# correct: http://localhost
# incorrect: http://localhost/
http://localhost, http://0.0.0.0 {
  handle /psgc-regions/search {
    request_header {
      X-TYPESENSE-API-KEY {$TYPESENSE_SEARCH_ONLY_KEY}
    }
    uri replace /psgc-regions/search /collections/psgc-regions/documents/search
    reverse_proxy 0.0.0.0:8108
  }
  handle {
    respond 404
  }
}
